<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>

<body>



    <p>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, accusamus. Architecto, ex maiores
            asperiores explicabo repudiandae quasi fugit odio itaque voluptas amet eius sapiente nulla enim veritatis,
            harum odit. Reprehenderit.</span>
        <span>Quidem enim, vitae laudantium ex ipsa cupiditate numquam voluptate
            est ab eaque quo illum dicta magni earum voluptatum voluptatem ea deserunt laboriosam. Atque soluta beatae
            eligendi molestiae vel accusamus unde.</span>
    </p>
</body>

</html>